.Windows7 {
  @apply flex flex-col w-full h-screen;

  background-image: url("../uploaded/seven_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Windows7_Taskbar {
  @apply flex flex-row justify-between w-full;
  @apply border-t-4 h-[40px] self-end;
}

.Windows7_Time {
  @apply text-white self-center select-none;

  font-family: "Segoe UI", "sans-serif";
}

.Windows7_Start {
  @apply ml-2 border-[1px] border-gray rounded-full;
}

.Windows7_Aero {
  // From: https://stackoverflow.com/a/4418359
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(66, 118, 178, 0.25);
  box-shadow:
          0 2px 6px rgba(0,0,0,0.5),
          inset 0 1px rgba(255,255,255,0.3),
          inset 0 10px rgba(255,255,255,0.2),
          inset 0 10px 20px rgba(255,255,255,0.25),
          inset 0 -15px 30px rgba(0,0,0,0.3);
}
